.noteList {
  height: 100vh;
  width: 100vw;
  background: #f4f6fc;
}

.noteList__header {
  background: #203460;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 35px;
  color: #fff;
}

.notelist__searchGroup {
  padding: 8px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.noteList__cancel{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6px;
  right: 30px;
  transform: translateY(17%);
  opacity: 0.2;
}

.noteList__searchInput {
  margin-bottom: 0;
  background: #dfe2ec;
  border: 1px solid #c1c7d9;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-image: url(./../../assets/img/search.svg);
  background-position: 15px center;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 50px;
}
.noteList__title {
  margin: 0;
  font-size: 30px;
}

.noteList__control {
  display: flex;
}

.noteList__logout {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: 0.2s;
}

.noteList__logout:hover {
  color: rgb(233, 233, 233);
}

.noteList__list {
  padding: 0 20px;
  height: 80vh;
  overflow: auto;
  padding-bottom: 60px;
}

.noteList__addNote {
  position: fixed;
  right: 50%;
  bottom: 20px;
  background-color: rgb(233, 75, 63);
  border-radius: 50%;
  border: none;
  text-align: center;
  color: #fff;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteList__addNote:hover {
  background-color: rgb(231, 116, 108);
}

.noteList__addNote:active {
  transform: translateX(50%) scale(0.9);
}
